*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    height: 44px;
    padding: 0 32px;
}

.logo{
    display: flex;
    align-items: center;
    width: 148px;
    height: 27px;
    gap: 8px;
}

.logo > span{
    font-weight: 500;
    font-size: 16px;
    color: #3A404E;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar > ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    color: #667085;
}

.button{
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    color: #667085;
}

#entrar{
    padding: 8px;
}
#cadastrar{
    padding: 10px 18px;
    background-color: #8E2424;
    border-radius: 8px;
    color: #fff;
}

#sobre{
    width: 100%;
    height: 407;
    padding: 78px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#sobre > span{
    width: 90px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #8E2424;
}

#sobre > h1{
    width: 652px;
    height: 60px;
    font-weight: 600;
    font-size: 48px;
    color: #101828;
}

#sobre > p{
    width: 791px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    color: #667085;
}

#metrica{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 288;
    padding-bottom: 78px;
}

.metrica_item{
    width: 280px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.valor{
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
}

.descricao{
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}
.metrica_item > p{
    width: 240px;
    height: 70px;
    font-weight: 400;
    font-size: 14px;
    color: #667085;
    text-align: justify;
    line-height: 20px;
}

#vagas_abertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 78px 32px 0 32px;
    gap: 24px;
}

#vagas_abertas > span{
    font-weight: 600;
    font-size: 24px;
    padding: 5px 10px;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    color: #8E2424;
}

#vagas_abertas > h2{
    font-weight: 600;
    font-size: 36px;
    color: #101828;
}

#vagas_abertas > p{
    font-weight: 400;
    font-size: 20px;
    color: #667085;
}

#vagas_abertas > img{
    width: 1216px;
    height: 400px;
    border-radius: 8px;
}

#mural_vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_vagas{
    width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.vagas{
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 12px;
}

.vagas > h2{
    font-weight: 500;
    font-size: 20px;
    color: #101828;
}

.vaga{
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px 24px 28px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.informacoes{
    font-size: 16px;
    color: #667085;
    display: flex;
    gap: 24px;
}